body {
  text-align: left; /*I think I need to fix this part*/
  height: initial;
  width: initial;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

div.header{
	padding-left: auto;
	padding-right: auto;
	padding-bottom: auto;
	padding-top: 40px;
  text-align: left;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
	text-align: center;
	padding: 30px;
}

ul {
	list-style-type: none;
	margin: auto;
	padding: auto;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

li {
	float: left;
}

li a {
	display: block;
	color: blue;
	padding: 14px 16px;
	text-align: center;
}

/*h1 {
  text-align: center;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}*/

aside#sidebar {
 float: right;
 width: 200px;
 min-height: 504px;
 padding-left: 20px;
 font-size: 12px;
 line-height: 1.3;
 background: transparent
}
