body {
  margin: auto;
  height: initial;
  width: initial;
}

div.header{
  
}

h1 {
  margin: auto;
  font-family: 'Sans-Serif';
}

aside#sidebar {
  float: right;
 width: 200px;
 min-height: 504px;
 padding-left: 20px;
 font-size: 12px;
 line-height: 1.3;
 background: transparent
}
